@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="text-center mt-5">
        <h2>Documentação da API</h2>
        <a href="http://localhost:5062/index.html" target="_blank" class="btn btn-success btn-lg mt-3">
            Abrir Swagger
        </a>
    </div>
</div>
